.home {
	.header-section {
		.m-flex(center, center, wrap);

		text-align: center;
		border-bottom: 2px dashed #c0c0c0;
		padding-bottom: 1rem;

		> .header-title {
			font-size: 3rem;
			margin-bottom: 2rem;
			width: 100%;
		}

		> .header-nav {
			width: 80%;
			.m-flex(space-between);
		}
	}

	> .intro {
		.side-padding;
		> figure {
			width: 100%;
		}
		> h2 {
			margin-top: 3rem;
		}
		> p {
			border-bottom: 2px dashed #c0c0c0;
			padding-bottom: 3rem;
		}
	}

	.content-section {
		.side-padding;

		margin: 30px 0;
		display: flex;
		flex-wrap: wrap;
		// justify-content: space-between;

		.text-content {
			// width: 48%;
			padding-right: 1%;
		}

		.img-content {
			// width: 48%;
			width: 100%;
			// padding-left: 1%;

			img {
				width: 100%;
				border-radius: 10px;
			}
		}
	}

	.inverse-content {
		.side-padding;

		// padding-bottom: 30px;
		// border-bottom: 2px dashed @navigation-border;

		.text-content {
			padding-left: 1%;
			padding-right: 0;
		}

		.img-content {
			padding-right: 1%;
			padding-left: 0;
			order: 1;
			padding-bottom: 30px;
			border-bottom: 2px dashed #c0c0c0;
		}
	}

	.content-destination {
		.side-padding;

		// width: 75%;
		margin: 0 auto 30px;

		img {
			border-radius: 10px;
		}
	}

	.content-pick {
		.side-padding;

		// padding-top: 30px;
		// border-top: 2px dashed @navigation-border;
		display: flex;
		flex-direction: column;
		// justify-content: space-between;

		.destination {
			// width: 30%;
			margin-bottom: 30px;
			padding: 0 5rem;
			padding-top: 30px;
			border-top: 2px dashed #c0c0c0;

			> .btn {
				background-color: #17a1b8;
				padding: 1.5rem;
				border-radius: 1.5rem;
				color: white;
				text-align: center;
				font-size: 1.8rem;
				font-weight: bold;
			}
		}
	}
} // home
