.home {
	> .intro {
		.side-padding;
		> figure {
			width: 100%;
		}
		> h2 {
			margin-top: 3rem;
		}
		> p {
			border-bottom: 2px dashed #c0c0c0;
			padding-bottom: 3rem;
		}
	}

	.content-section {
		.side-padding;

		margin: 30px 0;
		display: flex;
		flex-wrap: wrap;
		@media @desktop {
			padding-bottom: 2rem;
		}

		.text-content {
			padding-right: 1%;
			@media @desktop {
				width: 48%;
			}
		}

		.img-content {
			width: 100%;
			@media @desktop {
				width: 48%;
			}

			img {
				width: 100%;
				border-radius: 10px;
			}
		}
	}

	.inverse-content {
		.side-padding;
		@media @desktop {
			border-bottom: 2px dashed #c0c0c0;
		}

		.text-content {
			padding-left: 1%;
			padding-right: 0;
		}

		.img-content {
			padding-right: 1%;
			padding-left: 0;
			order: 1;
			padding-bottom: 30px;
			border-bottom: 2px dashed #c0c0c0;
			@media @desktop {
				order: unset;
				border-bottom: unset;
			}
		}
	}

	.content-destination {
		.side-padding;
		@media @desktop {
			padding: 0 10rem;
		}

		margin: 0 auto 30px;

		img {
			border-radius: 10px;
			width: 100%;
		}
	}

	.content-pick {
		.side-padding;

		display: flex;
		flex-direction: column;
		@media @desktop {
			flex-direction: unset;
		}

		.destination {
			margin-bottom: 30px;
			padding: 0 5rem;
			padding-top: 30px;
			border-top: 2px dashed #c0c0c0;

			> .btn {
				.bubble-butt(#17a1b8, white);
			}
		}
	}
} // home
